
.aw-total {
	padding-left: 0px !important;
	text-align: center !important;
}

.col-divider {
	border-left: 1px dotted rgba(115, 127, 140, 0.15);
}

.aw-views {
	background-color: #f6f6f6;
}

.aw-clicks {
	background-color: rgba(115, 127, 140, 0.15);
}

.no-stats {
	text-align: center !important;
	font-style: italic;
	padding: 33px 0px 30px !important;
}