
.sourceTypeOptions {
	/* display: none; */
}

/*
span.delete.icon {
	cursor: pointer;
}

table.adWizard {
	border: 1px solid #999999;
}
table.adWizard th {
	font-weight: bold;
	background-color: #EEEEEE;
}
table.adWizard td,
table.adWizard th {
	text-align: left;
	padding: 2px 10px;
	border: 1px solid #CCCCCC;
}
*/