{% extends '_layouts/cp' %}
{% set title = "Stats"|t %}

{% includeCssResource 'adwizard/css/admin.css' %}

{% set tabs = {
	ads:       { label: "Ads"|t,       url: url('adwizard') },
	positions: { label: "Positions"|t, url: url('adwizard/positions') },
	stats:     { label: "Stats"|t,     url: url('adwizard/stats') },
} %}

{% set selectedTab = 'stats' %}

{% set month = [null,
	'January', 'February', 'March',
	'April',   'May',      'June',
	'July',    'August',   'September',
	'October', 'November', 'December',
] %}

{% set thisMonth = now|date('n') %}
{% set thisYear  = now|date('Y') %}

{% if thisMonth > 1 %}
	{% set lastMonth = thisMonth - 1 %}
	{% set lastYear  = thisYear %}
{% else %}
	{% set lastMonth = 12 %}
	{% set lastYear  = thisYear - 1 %}
{% endif %}

{% set content %}
	<table class="data fullwidth collapsible">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th colspan="2" class="aw-total col-divider">Lifetime Total</th>
				<th colspan="2" class="aw-total col-divider">This Month ({{ month[thisMonth] }})</th>
				<th colspan="2" class="aw-total col-divider">Last Month ({{ month[lastMonth] }})</th>
			</tr>
			<tr>
				<th>Position</th>
				<th>Title</th>
				<th class="aw-total aw-views col-divider">Views</th>
				<th class="aw-total aw-clicks">Clicks</th>
				<th class="aw-total aw-views col-divider">Views</th>
				<th class="aw-total aw-clicks">Clicks</th>
				<th class="aw-total aw-views col-divider">Views</th>
				<th class="aw-total aw-clicks">Clicks</th>
			</tr>
		</thead>
		<tbody>
			{% for ad in craft.adWizard.getAllAds %}
				{% set position = craft.adWizard.getPositionById(ad.positionId) %}
				<tr>
					<td>{{ position.name }}</td>
					<td><a href="{{ url('adwizard/' ~ position.handle ~ '/' ~ ad.id) }}">{{ ad.title }}</a></td>
					<td class="aw-total aw-views col-divider">{{ ad.totalViews }}</td>
					<td class="aw-total aw-clicks">{{ ad.totalClicks }}</td>
					<td class="aw-total aw-views col-divider">{{ craft.adWizard.monthTotalViews(ad.id, thisYear, thisMonth) }}</td>
					<td class="aw-total aw-clicks">{{ craft.adWizard.monthTotalClicks(ad.id, thisYear, thisMonth) }}</td>
					<td class="aw-total aw-views col-divider">{{ craft.adWizard.monthTotalViews(ad.id, lastYear, lastMonth) }}</td>
					<td class="aw-total aw-clicks">{{ craft.adWizard.monthTotalClicks(ad.id, lastYear, lastMonth) }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endset %}
