{% import '_includes/forms' as forms %}

{% set allGroups = [] %}

{% set groupInput %}
	<div class="select">
		<select id="groupId" name="groupId">
			{% for group in craft.adWizard.getAllGroups %}
				{% set allGroups = allGroups|merge([group.id]) %}
				<option value="{{ group.id }}"{% if group.id == settings.groupId %} selected{% endif %}>{{ group.name }}</option>
			{% endfor %}
		</select>
	</div>
{% endset %}

{{ forms.field({
	label: "Group"|t,
	instructions: "Which group is the ad in?"|t,
	id: 'group',
}, groupInput) }}

{% set adIdInput %}
	<div class="select">
		<select id="adId" name="adId">
			{% for ad in craft.adWizard.getAllAds %}
				<option
					value="{{ ad.id }}"
					class="group-{{ ad.groupId }}"
					{% if ad.id == settings.adId %}selected{% endif %}
				>{{ ad.title }}</option>
			{% endfor %}
		</select>
	</div>
{% endset %}

{{ forms.field({
	label: "Select Ad"|t,
	instructions: "Show view/click timeline of specified ad."|t,
	id: 'adId',
}, adIdInput) }}

{% includeJsResource 'adwizard/js/widgets.js' %}
{% includejs %}
/*
$(function () {
	adWizard.widgets.init([{{ allGroups|join(',') }}]);
	adWizard.widgets.changeOptions();
});
*/
{% endincludejs %}