{% import '_includes/forms' as forms %}

{% set defaultGroup = false %}
{% set defaultAdSelected = false %}

{% set groupInput %}
	<div class="select">
		<select name="groupId" class="groupId">
			{% for group in craft.adWizard.getAllGroups %}
				{% if loop.first and (settings.groupId is null) %}
					{% set defaultGroup = group.id %}
				{% endif %}
				<option
					value="{{ group.id }}"
					{% if group.id == settings.groupId %}selected{% endif %}
				>{{ group.name }}</option>
			{% endfor %}
		</select>
	</div>
{% endset %}

{{ forms.field({
	label: "Group"|t,
	instructions: "Which group is the ad in?"|t,
	id: 'group',
}, groupInput) }}

{% set adIdInput %}
	<div class="select">
		<select name="adId" class="adId">
			{% for ad in craft.adWizard.getAllAds %}
				<option
					value="{{ ad.id }}"
					class="group-{{ ad.groupId }}"
					{% if ad.id == settings.adId %}
						selected
					{% elseif defaultGroup %}
						{% if defaultGroup != ad.groupId %}
							style="display: none;"
						{% elseif not defaultAdSelected %}
							selected
							{% set defaultAdSelected = true %}
						{% endif %}
					{% endif %}
				>{{ ad.title }}</option>
			{% endfor %}
		</select>
	</div>
{% endset %}

{{ forms.field({
	label: "Select Ad"|t,
	instructions: "Show view/click timeline of specified ad."|t,
	id: 'adId',
}, adIdInput) }}

{% includeJsResource 'adwizard/js/widgets.js' %}
{% includejs %}
$(function () {
	adWizard.widgets.init();
	$('.adwizard_adtimeline select.groupId').each(function () {
		adWizard.widgets.resetAdSelect($(this));
	});
});
{% endincludejs %}