{% import '_includes/forms' as forms %}

{% set allPositions = [] %}

{% set positionInput %}
	<div class="select">
		<select id="positionId" name="positionId">
			{% for position in craft.adWizard.getAllPositions %}
				{% set allPositions = allPositions|merge([position.id]) %}
				<option value="{{ position.id }}"{% if position.id == settings.positionId %} selected{% endif %}>{{ position.name }}</option>
			{% endfor %}
		</select>
	</div>
{% endset %}

{{ forms.field({
	label: "Position"|t,
	instructions: "Which position is the ad in?"|t,
	id: 'position',
}, positionInput) }}

{% set adIdInput %}
	<div class="select">
		<select id="adId" name="adId">
			{% for ad in craft.adWizard.getAllAds %}
				<option
					value="{{ ad.id }}"
					class="position-{{ ad.positionId }}"
					{% if ad.id == settings.adId %}selected{% endif %}
				>{{ ad.title }}</option>
			{% endfor %}
		</select>
	</div>
{% endset %}

{{ forms.field({
	label: "Select Ad"|t,
	instructions: "Show view/click timeline of specified ad."|t,
	id: 'adId',
}, adIdInput) }}

{% set positionIds %}
$(function () {
	adWizard.widgets.init([{{ allPositions|join(',') }}]);
	adWizard.widgets.changeOptions();
});
{% endset %}
{% includeJsResource 'adwizard/js/widgets.js' %}
{% includeJs positionIds %}