{% import '_includes/forms' as forms %}

{% set positionInput %}
	<div class="select">
		<select id="positionId" name="positionId">
			{% for position in craft.adWizard.getAllPositions %}
				<option value="{{ position.id }}"{% if position.id == settings.positionId %} selected{% endif %}>{{ position.name }}</option>
			{% endfor %}
		</select>
	</div>
{% endset %}

{{ forms.field({
	label: "Position"|t,
	instructions: "Show view/click totals of ads in the specified position."|t,
	id: 'position',
}, positionInput) }}