{% extends 'adwizard/_layout' %}
{% set selectedSubnavItem = 'ads' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
	{'label': 'Ad Wizard'|t, 'url': url('adwizard')},
	{'label': 'Ads'|t,       'url': url('adwizard/ads')},
] %}

{% if ad.id %}
	{% set finalCrumb = {'label': ad.title, 'url': url('adwizard/ads/' ~ ad.id)} %}
{% else %}
	{% set finalCrumb = {'label': 'Create New Ad'|t, 'url': url('adwizard/ads/new')} %}
{% endif %}
{% set crumbs = crumbs|merge([finalCrumb]) %}

{% set fullPageForm = true %}

{% block saveButton %}
	<div class="buttons">
		<div class="btngroup submit first">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
			<div class="btn submit menubtn"></div>
			<div class="menu">
				<ul>
					<li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">{{ "Save and continue editing"|t }}</a></li>
					<li><a class="formsubmit" data-redirect="adwizard/{{ groupHandle }}/new">{{ "Save and add another"|t }}</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% includeCssResource 'adwizard/css/admin.css' %}
{% includeJsResource  'adwizard/js/admin.js' %}

{% set groupHandle = group.handle %}

{% block main %}
	<input type="hidden" name="action" value="adWizard/saveAd">
	<input type="hidden" name="redirect" value="adwizard/ads">
	<input type="hidden" name="groupId" value="{{ group.id }}">
	{% if ad.id %}<input type="hidden" name="adId" value="{{ ad.id }}">{% endif %}
	{% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ ad.locale }}">{% endif %}

	<div class="grid first">
		<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
			<div id="fields" class="pane">
				{% include "adwizard/ads/_main" %}
			</div>
		</div>

		<div class="item" data-position="right" data-colspan="1">
			<div id="settings" class="pane">
				{% include "adwizard/ads/_sidebar" %}
			</div>
			{% if ad.id %}
				<div class="pane">
					<input type="button"
						class="btn small formsubmit"
						value="{{ 'Delete'|t }}"
						data-action="adWizard/deleteAd"
						data-confirm="{{ 'Are you sure you want to delete this ad?'|t }}"
						data-redirect="adwizard">
				</div>
			{% endif %}
		</div>

	</div>
{% endblock %}