{% extends '_layouts/elementindex' %}
{% set selectedSubnavItem = 'ads' %}
{% set title = "Ads"|t %}
{% set elementType = 'AdWizard_Ad' %}

{% set subnav = {
	stats:     { label: "Stats"|t,     url: url('adwizard/stats') },
	ads:       { label: "Ads"|t,       url: url('adwizard/ads') },
	positions: { label: "Ad Groups"|t, url: url('adwizard/positions') },
} %}

{% includeJsResource  'adwizard/js/admin.js' %}
{% includejs %}
var handles = {
	{% for source in craft.adWizard.getAllPositions %}
		{{ source.id }}: '{{ source.handle }}'{{ not loop.last ? ',' }}
	{% endfor %}
};
{% endincludejs %}

{% block sidebar %}

	{% if positions|length %}
		<div class="buttons">

			{% if positions|length > 1 %}
				<div class="btngroup submit">
					<div class="btn submit add icon" id="new-ad">{{ "New Ad"|t }}</div>
					<div class="btn menubtn submit" href="#"></div>
					<div class="menu">
						<ul>
							{% for position in positions %}
								<li><a href="{{ url('adwizard/'~position.handle~'/new') }}">{{ position.name|t }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% else %}
				<a class="btn submit add icon" href="{{ url('adwizard/'~positions[0].handle~'/new') }}">{{ "New Ad"|t }}</a>
			{% endif %}

		</div>
	{% endif %}

	{{ parent() }}

{% endblock %}
