{% extends '_layouts/elementindex' %}
{% set selectedSubnavItem = 'ads' %}
{% set title = "Ads"|t %}
{% set elementType = 'AdWizard_Ad' %}

{% set subnav = {
	stats:  { label: "Stats"|t,  url: url('adwizard/stats') },
	ads:    { label: "Ads"|t,    url: url('adwizard/ads') },
	groups: { label: "Groups"|t, url: url('adwizard/groups') },
} %}

{% set fullPageForm = true %}

{% block saveButton %}
	{% if groups|length %}
		<div class="buttons">
			<div class="btngroup submit first">
				<input type="submit" class="btn submit" value="{{ 'New Ad'|t }}">
				{% if groups|length > 1 %}
					<div class="btn submit menubtn"></div>
					<div class="menu">
						<ul>
							{% for group in groups %}
								<li><a href="{{ url('adwizard/'~group.handle~'/new') }}">{{ group.name|t }}</a></li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% includeJsResource  'adwizard/js/admin.js' %}
{% includejs %}
var handles = {
	{% for source in craft.adWizard.getAllGroups %}
		{{ source.id }}: '{{ source.handle }}'{{ not loop.last ? ',' }}
	{% endfor %}
};
{% endincludejs %}