{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% includeCssResource 'adwizard/css/admin.css' %}
{% includeJsResource  'adwizard/js/admin.js' %}

{#
{% set tabs = {
    ads:       { label: "Ads"|t,       url: url('adwizard') },
    positions: { label: "Positions"|t, url: url('adwizard/positions') }
} %}
#}

{% set positionHandle = position.handle %}

{% block main %}
    <form id="ad-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ continueEditingUrl }}">
        <input type="hidden" name="action" value="adWizard/saveAd">
        <input type="hidden" name="redirect" value="adwizard">
        <input type="hidden" name="positionId" value="{{ position.id }}">
        {% if ad.id %}<input type="hidden" name="adId" value="{{ ad.id }}">{% endif %}
        {% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ ad.locale }}">{% endif %}

        <div class="grid first">
            <div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
                <div id="fields" class="pane">
                    {# {% include "_includes/tabs" %} #}
                    {% include "adwizard/_main" %}
                </div>
            </div><!--/item-->

            <div class="item" data-position="right" data-colspan="1">
                <div id="settings" class="pane">
                    {% include "adwizard/_sidebar" %}
                </div><!--/pane-->

                {% if ad.id %}
                    <div class="pane">
                        <input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}" data-action="adWizard/deleteAd"
                            data-confirm="{{ 'Are you sure you want to delete this ad?'|t }}"
                            data-redirect="adwizard">
                    </div>
                {% endif %}

            </div><!--/item-->

            <div class="item" data-position="left" data-colspan="1">
                <div class="buttons">

                    <div class="btngroup submit first">
                        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">

                        <div class="btn submit menubtn"></div>
                        <div class="menu">
                            <ul>
                                <li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">{{ "Save and continue editing"|t }}</a></li>
                                <li><a class="formsubmit" data-redirect="adwizard/{{ positionHandle }}/new">{{ "Save and add another"|t }}</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div><!--/item-->

        </div><!--/grid-->
    </form>
{% endblock %}