{% extends '_layouts/elementindex' %}
{% set title = "Ads"|t %}
{% set elementType = 'AdWizard_Ad' %}

{% set tabs = {
	ads:       { label: "Ads"|t,       url: url('adwizard') },
	positions: { label: "Positions"|t, url: url('adwizard/positions') },
	stats:     { label: "Stats"|t,     url: url('adwizard/stats') },
} %}

{% block sidebar %}

	{% if positions|length %}
		<div class="buttons">

			{% if positions|length > 1 %}
				<div class="btngroup submit">
					<a class="btn submit add icon" href="{{ url('adwizard/'~positions[0].handle~'/new') }}">{{ "New Ad"|t }}</a>
					<div class="btn menubtn submit" href="#"></div>
					<div class="menu">
						<ul>
							{% for position in positions %}
								<li><a href="{{ url('adwizard/'~position.handle~'/new') }}">{{ position.name|t }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% else %}
				<a class="btn submit add icon" href="{{ url('adwizard/'~positions[0].handle~'/new') }}">{{ "New Ad"|t }}</a>
			{% endif %}

		</div>
	{% endif %}

	{{ parent() }}

{% endblock %}
