{% extends '_layouts/cp' %}
{% set title = 'Welcome to Ad Wizard!' %}

{% set linkChangeLog  = 'https://www.doublesecretagency.com/plugins/ad-wizard/changelog' %}
{% set linkGetStarted = url('adwizard/groups') %}

{% set content %}
	<div style="text-align:center; margin:0 auto;">
        <img src="{{ resourceUrl('adwizard/icon.svg') }}">
		<h2>Thanks for using Ad Wizard!</h2>
		<p>Feel free to <a href="mailto:support@doublesecretagency.com?subject=Ad+Wizard+~+Fresh+Installation" target="_blank">contact us</a> with any feature requests, bug reports, or suggestions.</p>
		<p>
			<a href="{{ linkGetStarted }}"><button class="btn submit">Get Started</button></a>
			&nbsp;&nbsp;&nbsp;
			<a href="{{ linkChangeLog }}" target="_blank"><button class="btn submit">What's New...</button></a>
		</p>
	</div>
{% endset %}