{% extends 'adwizard/_layout' %}
{% set selectedSubnavItem = 'groups' %}
{% set title = "Create an Ad Group"|t %}
{% import '_includes/forms' as forms %}

{% set fullPageForm = true %}

{% block saveButton %}
	<div class="buttons">
		<input type="submit" class="btn submit" value="{{ 'Save Group'|t }}">
	</div>
{% endblock %}

{% block content %}
	<input type="hidden" name="action" value="adWizard/saveGroup">
	<input type="hidden" name="redirect" value="adwizard/groups">
	{% if group.id %}<input type="hidden" name="groupId" value="{{ group.id }}">{% endif %}

	{{ forms.textField({
		first: true,
		label: "Group Name"|t,
		instructions: "Define a group of ads."|t,
		placeholder: "ie: \"Header Banner\" or \"Right Sidebar\""|t,
		id: 'name',
		name: 'name',
		value: group.name,
		errors: group.getErrors('name'),
		autofocus: true,
		required: true,
		translatable: true
	}) }}

	{{ forms.textField({
		label: "Handle"|t,
		id: 'handle',
		class: 'code',
		name: 'handle',
		value: group.handle,
		errors: group.getErrors('handle'),
		required: true
	}) }}
{% endblock %}

{% if not group.handle %}
	{%- includejs -%}
		new Craft.HandleGenerator('#name', '#handle');
	{%- endincludejs -%}
{% endif %}
