{% extends 'adwizard/_layout' %}
{% set selectedSubnavItem = 'groups' %}
{% set title = "Groups"|t %}

{% set crumbs = [
	{'label': 'Ad Wizard'|t, 'url': url('adwizard')},
	{'label': 'Groups'|t,    'url': url('adwizard/groups')},
] %}

{% set fullPageForm = true %}

{% block saveButton %}
	<div class="buttons" id="new-group-container">
		<a href="{{ url('adwizard/groups/new') }}" class="btn submit add icon">{{ "New Group"|t }}</a>
	</div>
{% endblock %}

{% set content %}
	<div id="no-groups"{% if groups %} class="hidden"{% endif %}>
		<h2>What is a Group?</h2>
		<p>When you create an Ad, you will place it into a specific Group. The relationship between Ad &amp; Group is similar to the relationship beteen Entry &amp; Section. It's not possible for an ad to exist in more than one group.</p>
		{# <p>You can generally think of an ad group as being in a "position". <em>(ie: "Header Banner", "Right Sidebar")</em></p> #}
		<hr/>
		<p><strong>No groups exist yet.</strong> <a href="{{ url('adwizard/groups/new') }}">Create one to get started...</a></p>
	</div>

	{% if groups|length %}
		<table id="groups" class="data fullwidth collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				<th scope="col">{{ "Handle"|t }}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for group in groups %}
					<tr data-id="{{ group.id }}" data-name="{{ group.name|t }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('adwizard/groups/' ~ group.id) }}">{{ group.name|t }}</a></th>
						<td data-title="{{ 'Handle'|t }}"><code>{{ group.handle }}</code></td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endset %}

{% includejs %}
	var adminTable = new Craft.AdminTable({
		tableSelector: '#groups',
		noObjectsSelector: '#no-groups',
		newObjectBtnSelector: '#new-group-container',
		deleteAction: 'adWizard/deleteGroup',
		confirmDeleteMessage: '{{ "Are you sure you want to delete the “{name}” group, including all ads the group contains?"|t }}'
	});
{% endincludejs %}
